/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter Variable', sans-serif;
  @apply min-h-screen flex flex-col;
}
main {
  @apply flex-grow;
}
html {
  scroll-behavior: smooth;
}
.bg-gradient-to-r {
  @apply transition-all duration-300;
}
button:hover, a:hover {
  @apply transition-transform duration-200;
}
input, textarea, select {
  @apply px-3 py-2 rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-900;
}